---
import DownloadButton from "../DownloadButton.astro";
---

<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-4"
  >
    <div>
      <div class="text-center max-w-4xl mx-auto">
        <p
          class="text-black mt-8 font-extrabold lg:text-4xl text-3xl tracking-tight"
        >
          Querym
        </p>
        <p
          class="text-black font-extrabold lg:text-3xl text-2xl tracking-tight"
        >
          Your Future Database GUI Client
        </p>
        <p class="text-slate-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          Query Master is a free, open-source, and cross-platform GUI tool for
          databases. Although this project is relatively young, we are ambitious
          in our goal to create one of the best tools available.
        </p>
      </div>
      <DownloadButton />
    </div>
  </div>
</section>
