<section id="features">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div class="mx-auto max-w-2xl text-center">
      <div>
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter"
        >
          Database Management<span class="lg:block"> Made Simple.</span>
        </p><p
          class="mt-4 text-lg max-w-xl mx-auto tracking-tight text-slate-500"
        >
          A simple, lightweight, and free database management tool, yet powerful
          and packed with amazing features.
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <h2 class="sr-only">Features.</h2>
        <div>
          <div
            class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-3"
          >
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="desktop"
                    class="hydrated md h-5 w-5"
                    name="desktop"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Cross-Platform
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                QueryMaster is built with Electron, which means it runs on
                Windows, macOS, and Linux.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="happy"
                    class="hydrated md h-5 w-5"
                    name="happy"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Beginner Friendly
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                QueryMaster is designed to be easy to use, even for beginners.
                It's simple and intuitive.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="flash"
                    class="hydrated md h-5 w-5"
                    name="flash"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Powerful Auto-Completion
                </p>
              </div><div class="mt-4 text-slate-500 text-sm">
                We focused on making the best auto-completion. It's fast,
                accurate, and context-aware.
              </div>
            </div>
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="shield-checkmark"
                    class="hydrated md h-5 w-5"
                    name="shield-checkmark"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Private and Secure
                </p>
              </div>
              <div class="mt-4 text-slate-500 text-sm">
                Your data is stored locally and securely. We don't collect any
                data from you.
              </div>
            </div>
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="documents"
                    class="hydrated md h-5 w-5"
                    name="documents"
                    role="img"></ion-icon>
                </div>
                <p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Export and Import
                </p>
              </div>
              <div class="mt-4 text-slate-500 text-sm">
                You can export and import your databases in SQL format,
                compatible with MySQL and PostgreSQL.
              </div>
            </div>
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="cloud"
                    class="hydrated md h-5 w-5"
                    name="cloud"
                    role="img"></ion-icon>
                </div>
                <p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Cloud Based
                </p>
              </div>
              <div class="mt-4 text-slate-500 text-sm">
                You can connect to your cloud databases, such as Amazon RDS,
                Google Cloud SQL, and more.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
