---
import FeatureItem from "./FeatureItem.astro";
---

<section id="features">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <h2 class="sr-only">Features.</h2>
        <div>
          <div class="grid gap-8 grid-cols-1 lg:space-y-0 md:grid-cols-2">
            <FeatureItem image="/screenshot1.png" title="Data Editor">
              The powerful data editor allows you to add, remove, edit, and
              clone data rows. You can also search for text within the data
              editor. Additionally, there are many built-in editors for special
              data types such as JSON.
            </FeatureItem>

            <FeatureItem image="/screenshot2.png" title="Smart Text Editor">
              Querym features smart auto-completion, syntax highlighting, and
              query reformatting, making SQL writing a smooth and enjoyable
              experience.
            </FeatureItem>

            <FeatureItem image="/screenshot6.png" title="Running Queries">
              Running a query is an essential component. You can run multiple
              statements and view separated results. Make sure to kill your
              query before it finishes and keep track of your query history for
              future reference.
            </FeatureItem>

            <FeatureItem image="/screenshot5.png" title="Manage Connections">
              Organize your connections in a hierarchy using unlimited nested
              folders. This allows you to keep your connections neatly arranged.
              Additionally, sync your connections across devices.
            </FeatureItem>

            <FeatureItem image="/screenshot4.png" title="Import/Export">
              Import your data into various formats, including Microsoft Excel,
              CSV, JSON, SQL, and XML.
            </FeatureItem>

            <FeatureItem image="/screenshot3.png" title="Protection Mode">
              Querym offers three levels of protection mode. Review your SQL
              before running any query that can greatly impact your database.
            </FeatureItem>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
