---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navigation from '../components/global/Navigation.astro';
import Footer from '../components/global/Footer.astro';
import { AstroSeo } from '@astrolib/seo';
import Markdown from '@astrojs/markdown-component';

export const prerender = false;

const changeLogRaw = await fetch(
  'https://api.github.com/repos/invisal/query-master/releases',
  {
    headers: {
      authorization: `Bearer ${import.meta.env.GH_TOKEN}`,
    },
  },
);

const changeLog = await changeLogRaw.json();
---

<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
  title="QueryMaster - Changelog"
  description="A list of all the changes made to QueryMaster"
  canonical="https://www.querymaster.io"
  openGraph={{
    url: 'https://www.querymaster.io',
    title: 'QueryMaster - Changelog',
    description: 'A list of all the changes made to QueryMaster',
    images: [
      {
        url: '/QueryMaster-half.png',
        width: 1200,
        height: 630,
        alt: 'Social open graph',
        type: 'image/jpeg',
      },
      {
        url: '/QueryMaster.png',
        width: 4096,
        height: 4096,
        alt: 'Twitter open graph',
        type: 'image/jpeg',
      },
    ],
    site_name: 'QueryMaster',
  }}
/>
<BaseLayout>
  <Navigation />
  <section aria-labelledby="changelog" id="changelog">
    <div
      class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
    >
      <div>
        <div class="max-w-2xl">
          <p
            class="text-black font-extrabold lg:text-5xl text-4xl tracking-tight"
          >
            QueryMaster Changelog
          </p>
          <p class="text-slate-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
            We improve every day, here you can find the latest changes.
          </p>
        </div>
        <div class="mt-12 space-y-12 divide-y-2">
          {
            changeLog.map(item => (
              <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
                <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
                  <span class="text-2xl font-bold leading-6 text-black font-display tracking-tight">
                    {item.tag_name}
                  </span>
                  <span class="text-slate-500 text-sm">
                    {new Date(item.published_at).toDateString()}
                  </span>
                </div>
                <div class="lg:col-span-2">
                  <span class="prose">
                    <Markdown>{item.body || 'No content'}</Markdown>
                  </span>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>
  <Footer />
</BaseLayout>
