<footer aria-labelledby="footer-heading" class="bg-black">
  <h2 id="footer-heading " class="sr-only">Footer</h2>
  <div
    class="relative flex gap-10 lg:gap-36 max-sm:flex-col mx-auto w-full lg:px-16 max-w-7xl md:px-12 items-start px-8 py-24"
  >
    <div class="text-white">
      <span class="text-lg font-semibold lg:text-2xl italic">QueryMaster</span>
      <p class="mt-2 text-sm text-slate-400">
        <span class="mt-6 font-normal">
          A simple and yet fantastical database graphical client.
        </span>
      </p>
      <div class="mt-5">
        <a href="https://github.com/invisal/query-master" target="_blank">
          <ion-icon name="logo-github" class="text-white text-2xl"></ion-icon>
        </a>
      </div>
    </div>
    <div class="text-white">
      <span class="text-lg lg:text-2xl">Pages</span>
      <ul class="mt-5 gap-2 flex flex-col">
        <li>
          <a href="/#features" class="hover:underline">Features</a>
        </li>
        <li>
          <a href="/changelog" class="hover:underline">Changelog</a>
        </li>
        <li>
          <a href="/code-of-conducts" class="hover:underline">Code of Conduct</a
          >
        </li>
        <li>
          <a href="/privacy-policy" class="hover:underline">Privacy Policy</a>
        </li>
        <li>
          <a href="/download" class="hover:underline">Downloads</a>
        </li>
      </ul>
    </div>
  </div>
  <footer class="border-t border-white/5 bg-black">
    <div class="px-8 py-6 grid place-items-center w-full">
      <span
        class="p-3 text-sm text-slate-400 transition duration-500 ease-in-out transform hover:text-white"
      >
        All rights reserved by QueryMaster &copy; 2023
      </span>
    </div>
  </footer>
</footer>
